<!DOCTYPE html>
<html lang="pt-br" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<body>

	<div class="container">
		<div th:fragment="header">
		    <nav class="navbar navbar-gray navbar-fixed-top">
		      <div class="container-fluid">
		        <div class="navbar-header">
		          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
		            <span class="sr-only">Toggle navigation</span>
		            <span class="icon-bar"></span>
		            <span class="icon-bar"></span>
		            <span class="icon-bar"></span>
		          </button>
		          <a href="index.html" th:href="@{/}">
		          	<img th:src="@{/img/logo.png}" src="../../static/img/logo.png" height="50px" />
		          </a>
		        </div>
		        <div id="navbar" class="navbar-collapse collapse">
		          <ul class="nav navbar-nav navbar-right">
		            <li>
		            	<a href="index.html" th:href="@{/}">
		            		<img src="../static/img/dashboard.png" th:src="@{/img/dashboard.png}" width="30" height="30" class="img-circle" alt="Sobre"/>
		            		&nbsp;Dashboard
		            	</a>
		            </li>
		            <li>
		            	<a href="#">
		            		<img src="../static/img/settings.png" th:src="@{/img/settings.png}" width="30" height="30" class="img-circle" alt="Configurações"/>
		            		&nbsp;Configurações
		            	</a>
		            </li>
		            <li>
		            	<a href="#">
		            		<img src="../static/img/user-login.png" th:src="@{/img/user-login.png}" width="30" height="30" class="img-circle" alt="Usuários"/>
		            		&nbsp;Perfil
		            	</a>
		            </li>
		            <li>
		            	<a href="#">
		            		<img src="../static/img/about.png" th:src="@{/img/about.png}" width="30" height="30" class="img-circle" alt="Sobre"/>
		            		&nbsp;Sobre
		            	</a>
		            </li>
		          </ul>
		        </div>
		      </div>
		    </nav>
		</div>
	</div>

</body>
</html>