<!DOCTYPE html>
<html lang="pt-br" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<body>

	<div th:fragment="menu">
	
		<div class="col-sm-3 col-md-2 sidebar">
          <ul class="nav nav-sidebar">
            <li th:class="${module == 'dashboard' ? 'active' : '' }">
            	<a href="index.html" th:href="@{/}" >
            		<img src="../static/img/dashboard.png" th:src="@{/img/dashboard.png}" width="40" height="40" class="img-circle" alt="Sobre"/>
            		&nbsp;Dashboard
            	</a>
            </li>
            <li th:class="${module == 'payment' ? 'active' : '' }">
            	<a href="lancamento.html" th:href="@{/lancamento/new}">
					<img src="../static/img/contas-a-pagar.png" th:src="@{/img/contas-a-pagar.png}" class="img-circle" width="40" height="40"  alt="Pagamentos"/>
            		&nbsp;Pagamentos
            	</a>
            </li>
            <li>
            	<a href="#">
					<img src="../static/img/contas-a-receber.png" th:src="@{/img/contas-a-receber.png}" width="40" height="40" class="img-circle" alt="Recebimentos"/>
            		&nbsp;Recebimentos
            	</a>
            </li>
          </ul>
          <ul class="nav nav-sidebar">
            <li>
            	<a href="">
            		<img src="../static/img/user-login.png" th:src="@{/img/user-login.png}" width="40" height="40" class="img-circle" alt="Usuários"/>
            		&nbsp;Usuários
            	</a>
            </li>
            <li>
            	<a href="">
            		<img src="../static/img/settings.png" th:src="@{/img/settings.png}" width="40" height="40" class="img-circle" alt="Configurações"/>
            		&nbsp;Configurações
            	</a>
            </li>
          </ul>
        </div>
            
	</div> 
	   
</body>
</html>