<!DOCTYPE html>
<html lang="pt-br" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
	<head lang="pt-br">
    	<title th:text="#{system.name}">Fico</title>
    	<!--/*/ <th:block th:include="fragments/headerinc :: head"></th:block>  /*/-->
  	</head>
<body>

	<!--/*/ <th:block th:include="fragments/header :: header"></th:block>  /*/-->

    <div class="container-fluid">
      <div class="row">
       
		<!--/*/ <th:block th:include="fragments/menu :: menu"></th:block>  /*/-->
        
        <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">

          <div class="page-header">
  				<h1>
  					<img alt="Banner" src="../static/img/logo.png" th:src="@{/img/logo.png}" width="80" height="80" />
  					<span th:text="#{system.name}">Fico</span>&nbsp;
  					<small th:text="#{system.description}">Financial control System</small>
  				</h1>
		  </div>


          <div class="row placeholders">
          	<!-- /// Begin-Page Containt //////////////////////////////////// -->
            <div class="col-xs-6 col-sm-3 placeholder"  data-toggle="tooltip" data-placement="top" title="Gestão de Gastos...">            
            	<a href="launch.html" th:href="@{/launch}">
              		<img src="../static/img/contas-a-pagar.png" th:src="@{/img/contas-a-pagar.png}" width="100" height="100" class="img-circle img-responsive" alt="Contas a Pagar"/>
            	</a>
            	<h4>
            		<a href="launch.html" th:href="@{/launch}">
            			Pagamentos
            		</a>
            	</h4>
           		<span class="text-muted">Gestão de Gastos</span>
            </div>
            <div class="col-xs-6 col-sm-3 placeholder" data-toggle="tooltip" data-placement="top" title="Gestão de Ganhos...">
            	<a href="#">
              		<img src="../static/img/contas-a-receber.png" th:src="@{/img/contas-a-receber.png}" width="100" height="100" class="img-circle img-responsive" alt="Contas a Receber"/>
              	</a>
              	<h4>
              		<a href="#">
              			Recebimentos
              		</a>
              	</h4>
              	<span class="text-muted">Gestão de Ganhos</span>
            </div>
            <div class="col-xs-6 col-sm-3 placeholder" data-toggle="tooltip" data-placement="top" title="Controle de Acesso...">
              	<a href="#">
              		<img src="../static/img/user-login.png" th:src="@{/img/user-login.png}" width="100" height="100" class="img-circle img-responsive" alt="Usuários"/>
              	</a>
              	<h4>
              		<a href="#">
              			&nbsp;Usuários
              		</a>
              	</h4>
              	<span class="text-muted">Controle de Acesso</span>
            </div>
            <div class="col-xs-6 col-sm-3 placeholder" data-toggle="tooltip" data-placement="top" title="Configurações do Sistema...">
              	<a href="#">
              		<img src="../static/img/settings.png" th:src="@{/img/settings.png}" width="100" height="100" class="img-circle img-responsive" alt="Configurações"/>
              	</a>
              	<h4>
              		<a href="#">
              			&nbsp;Configurações
              		</a>
              	</h4>
              	<span class="text-muted">Configurações do Sistema</span>
            </div>
            
            <!-- /// End-Page Containt //////////////////////////////////// -->
          </div>
          
        </div>
      </div>
    </div>    


    <!--/*/ <th:block th:include="fragments/footer :: footer"></th:block>  /*/-->
    
    <!--/*/ <th:block th:include="fragments/footerjsinc :: footerjsinc"></th:block>  /*/-->    
    
</body>
</html>