<!DOCTYPE html>
<html lang="pt-br" ng-app="mainApp" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
	<head lang="pt-br">
    	<title th:text="#{system.name}">Fico</title>
    	<!--/*/ <th:block th:include="fragments/headerinc :: head"></th:block>  /*/-->
    	<script>
			$(function() {
				$.datepicker.regional['pt-BR'] = {
		                closeText: 'Fechar',
		                prevText: '&#x3c;Anterior',
		                nextText: 'Pr&oacute;ximo&#x3e;',
		                currentText: 'Hoje',
		                monthNames: ['Janeiro','Fevereiro','Mar&ccedil;o','Abril','Maio','Junho',
		                'Julho','Agosto','Setembro','Outubro','Novembro','Dezembro'],
		                monthNamesShort: ['Jan','Fev','Mar','Abr','Mai','Jun',
		                'Jul','Ago','Set','Out','Nov','Dez'],
		                dayNames: ['Domingo','Segunda-feira','Ter&ccedil;a-feira','Quarta-feira','Quinta-feira','Sexta-feira','Sabado'],
		                dayNamesShort: ['Dom','Seg','Ter','Qua','Qui','Sex','Sab'],
		                dayNamesMin: ['Dom','Seg','Ter','Qua','Qui','Sex','Sab'],
		                weekHeader: 'Sm',
		                dateFormat: 'dd/mm/yy',
		                firstDay: 0,
		                isRTL: false,
		                showMonthAfterYear: false,
		                yearSuffix: ''};
				$.datepicker.setDefaults($.datepicker.regional['pt-BR']);
    			$( "#lancamentoDate" ).datepicker();
			});
		</script>
  	</head>
<body ng-controller="LaunchController as ctrl">

	<!--/*/ <th:block th:include="fragments/header :: header"></th:block>  /*/-->

    <div class="container-fluid">
      <div class="row">
       
		<!--/*/ <th:block th:include="fragments/menu :: menu"></th:block>  /*/-->
        
        <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">

          <div class="page-header">
  				<h1>
  					<i class="fa fa-money text-danger"></i>&nbsp;
  					<span>Contas a Pagar</span>&nbsp;
  					<small>Gestão de Contas a <span class="text-danger">Pagar</span></small>
  				</h1>
		  </div>

          <div class="row row-containt">
          	<!-- /// Begin-Page Containt //////////////////////////////////// -->
			<div class="panel panel-default">
  				<div class="panel-body">          	
					<form ng-submit="ctrl.postLaunch()" method="post">
						<div class="row">
							<div class="col-md-2">
								<label>ID:</label>
								<input type="text" 
									   class="form-control" 
									   ng-model="ctrl.launch.id" 
									   readonly="readonly" />
							</div>
							<div class="col-md-10">
								<label>Descrição:</label>
								<input type="text" 
									   class="form-control" 
									   ng-model="ctrl.launch.description" 
									   required="required" />
							</div>
						</div>
						<div class="row">
							<div class="col-md-2">
								<label>Data: </label>
								<input type="text" 
								       class="form-control" 
								       id="lancamentoDate"
								       ng-model="ctrl.launch.date" />
							</div>
							<div class="col-md-3">
								<label>Valor:</label>
								<div class="input-group">
		    						<span class="input-group-addon">R$</span>
									<input type="text" 
									       class="form-control text-right" 
									       ng-model="ctrl.launch.amount" 
									       placeholder="R$ 0,00" />
		  						</div>
							</div>
							<div class="col-md-5">
								<label>Banco:</label>
								<div class="input-group">
				    				<select class="form-control" 
				    					    required="required"
									    	ng-model="ctrl.bankSelected"
				    					    ng-options="bank.code +' - '+ bank.name for bank in ctrl.listBanks track by bank.id">
									</select>
									<span class="input-group-addon-no">
										<a href="#" data-toggle="modal" data-target="#modalBank" >
											<i class="fa fa-plus"></i>
										</a>
									</span>
								</div>
							</div>	
							<div class="col-md-2">
								<label>&nbsp;</label><br/>
						        <div class="checkbox pull-right">
						          <label>
						            <input type="checkbox" 
						                   class="form-control" 
						                   ng-model="ctrl.launch.paid" />
						            <span class="cr"><i class="cr-icon glyphicon glyphicon-ok"></i></span>
						            <strong th:class="${lancamento.paid == true} ? 'text-success' : 'text-danger'" >Pago ?</strong>
						          </label>
						        </div>
							</div>
						</div>
						<hr/>
						<div class="row">
							<div class="col-md-12">
								<button type="submit" class="btn btn-primary">
									<i class="fa fa-floppy-o"></i>&nbsp;Salvar
								</button>
								<a href="#" class="btn btn-default pull-right">
									<i class="fa fa-times"></i>&nbsp;Cancelar
								</a>
							</div>
						</div>
					</form>	 
				</div><!-- panel body -->
								
			</div>  

			<div th:if="${alertStatus != null}">
				<div th:class="${alertStatus == 'success'} ? 'alert alert-success alert-dismissible' : 'alert alert-danger alert-dismissible'" class="alert alert-warning alert-dismissible" role="alert">
				  <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
				  <span th:text="${alertMessage}"></span>
				</div>
			</div>
			
            <!-- /// End-Page Containt //////////////////////////////////// -->
          </div>
          
        </div>
      </div>
    </div>    


    <!--/*/ <th:block th:include="fragments/footer :: footer"></th:block>  /*/-->
    
	<!-- Modal -->
	<div class="modal fade" id="modalBank" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
	  <div class="modal-dialog" role="document">
	    <div class="modal-content">
	      <div class="modal-header text-center">
	        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
	        <h4 class="modal-title" id="myModalLabel">Bancos</h4>
	      </div>
	      <div class="modal-body">

			<form ng-submit="ctrl.createBank()" method="post">
			
				<input type="hidden" class="form-control" name="nextUrl" id="bankNextUrl" value="/lancamento/new" />
				<input type="hidden" 
				       class="form-control" 
				       ng-model="ctrl.bank.id" 
				       id="bankId" />
				<div class="row">
					<div class="col-md-2">
						<label>Código</label>
						<input type="text" 
						       class="form-control" 
						       ng-model="ctrl.bank.code" 
						       id="bankCode" />
					</div>
					<div class="col-md-10">
						<label>Nome</label>
						<input type="text" 
						       class="form-control" 
						       ng-model="ctrl.bank.name" 
						       id="bankName" />
					</div>
				</div>
				<hr/>
				<div class="row">
					<div class="col-md-12">
						<button type="submit" class="btn btn-primary">
							<i class="fa fa-floppy-o"></i>&nbsp;Salvar
						</button>
						<a href="#" class="btn btn-default pull-right" data-dismiss="modal">
							<i class="fa fa-times"></i>&nbsp;Cancelar
						</a>
					</div>
				</div>
			</form>

	      </div>
	    </div>
	  </div>
	</div>    
	

	<!--/*/ <th:block th:include="fragments/footerjsinc :: footerjsinc"></th:block>  /*/-->
	<script type="text/javascript" src="../static/app/mainApp.js" th:src="@{/app/mainApp.js}" ></script>
	<script type="text/javascript" src="../static/app/services/bank-service.js" th:src="@{/app/services/bank-service.js}" ></script>
	<script type="text/javascript" src="../static/app/services/launch-service.js" th:src="@{/app/services/launch-service.js}" ></script>
	<script type="text/javascript" src="../static/app/controllers/launch-controller.js" th:src="@{/app/controllers/launch-controller.js}" ></script>
	<script type="text/javascript" src="../static/app/controllers/bank-controller.js" th:src="@{/app/controllers/bank-controller.js}" ></script>
    
</body>
</html>